<%- include('header') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 loginAndSignupTxtAlign">
      <br /><br />
      <h1>Reset password</h1>
      
    </div><!-- end .col-sm-12 -->
  </div><!-- end .row -->
  <br />
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 form-group">
        <div class="loginAndSignupForm">
          <!--form id="reset_password" name="reset_password" method="post" action="/reset_password" -->
          <form id="reset_password" name="reset_password" method="post" action="/reset_password" >
            <h4>Enter username and new password below</h4>
            
            <label for="email">Email:</label>
            <input class="text" name="email" type="text" size="25"/><br />

            <label for="password">New password:</label>
            <input name="password" type="password" size="30" />
      
            <!--input type="submit" class="btn btn-primary" value="Sign Up" /-->
            <button type="submit" class="btn btn-primary login" value="reset_password">Reset</button>
          </form>
        </div><!-- end loginDiv -->
    </div><!-- end .col-md-6 offset-md-3 -->
  </div><!-- end .row -->
</div><!-- end .container-fluid -->


<%- include('footer') %>
